* {
    margin: 0; /* Menghilangkan margin pada semua elemen */
    padding: 0; /* Menghilangkan padding pada semua elemen */
    box-sizing: border-box; /* Menggunakan model box-sizing border-box untuk semua elemen */
}

body{
    background: #eaeaea;  /* Warna latar belakang halaman (background) berwarna abu-abu */
    overflow: hidden;    /* Menyembunyikan isi yang melebihi jenis tampilan */
}

.container {
    position: absolute; /* Menetapkan posisi elemen secara absolut */
    top: 50%; /* Menempatkan elemen di tengah vertikal relatif terhadap parent */
    left: 50%; /* Menempatkan elemen di tengah horizontal relatif terhadap parent */
    transform: translate(-50%, -50%); /* Menggeser elemen ke tengah parent */
    width: 1000px; /* Menetapkan lebar elemen */
    height: 600px; /* Menetapkan tinggi elemen */
    background: #f5f5f5; /* Memberikan warna latar belakang */
    box-shadow: 0 30px 50px #ffffff; /* Memberikan bayangan dengan efek pencahayaan */
}

.container .slide .item {
    width: 200px; /* Menetapkan lebar elemen slide item */
    height: 300px; /* Menetapkan tinggi elemen slide item */
    position: absolute; /* Menetapkan posisi elemen secara absolut */
    top: 50%; /* Menempatkan elemen di tengah vertikal relatif terhadap parent */
    transform: translate(0, -50%); /* Menggeser elemen ke atas sejauh 50% dari tinggi sendiri */
    border-radius: 20px; /* Memberikan radius sudut 20px */
    box-shadow: 0 10px 35px #505050; /* Memberikan bayangan dengan efek pencahayaan */
    background-position: 50% 50%; /* Menetapkan posisi latar belakang */
    background-size: cover; /* Menyesuaikan ukuran latar belakang */
    display: inline-block; /* Mengatur tampilan elemen menjadi inline block */
    transition: 0.5s; /* Mengatur durasi transisi */
}

.slide .item:nth-child(1), .slide .item:nth-child(2) {
    top: 0; /* Menempatkan elemen di bagian atas */
    left: 0; /* Menempatkan elemen di bagian kiri */
    transform: translate(0, 0); /* Menggeser elemen ke posisi awal */
    border-radius: 0; /* Menghilangkan radius sudut */
    width: 100%; /* Menetapkan lebar elemen menjadi 100% */
    height: 100%; /* Menetapkan tinggi elemen menjadi 100% */
    border-radius: 10px; /* Memberikan radius sudut 10px */
}

.slide .item:nth-child(3) {
    left: 50%; /* Menempatkan elemen di tengah horizontal */
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px); /* Menempatkan elemen di sebelah kanan tengah */
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px); /* Menempatkan elemen di sebelah kanan tengah dengan jarak tambahan */
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px); /* Menempatkan elemen di luar viewport di sebelah kanan */
    opacity: 0; /* Mulai dengan opacity 0 (tidak terlihat) */
}

.item .content {
    position: absolute; /* Menetapkan posisi elemen secara absolut */
    top: 50%; /* Menempatkan elemen di tengah vertikal relatif terhadap parent */
    left: 100px; /* Menetapkan jarak 100px dari sisi kiri parent */
    width: 350px; /* Menetapkan lebar elemen */
    text-align: left; /* Mengatur penataan teks ke kiri */
    color: #eee; /* Mengatur warna teks */
    transform: translate(0, -50%); /* Menggeser elemen ke atas sebesar 50% dari tinggi sendiri */
    font-family: system-ui; /* Mengatur jenis font */
    display: none; /* Menyembunyikan elemen */
    background-color: rgba(0, 0, 0, 0.5); /* Memberikan warna latar belakang dengan opasitas 0.5 */
    border-radius: 9px; /* Memberikan radius sudut sebesar 9px */
}

.slide .item:nth-child(2) .content {
    display: block; /* Menampilkan elemen saat merupakan anak kedua dari elemen dengan kelas .slide .item */
}

.content .name {
    font-size: 40px; /* Mengatur ukuran font */
    text-transform: uppercase; /* Mengubah teks menjadi huruf besar */
    font-weight: bold; /* Mengatur ketebalan font menjadi tebal */
    opacity: 0; /* Mulai dengan opacity 0 (tidak terlihat) */
    animation: animate 1s ease-in-out 1 forwards; /* Menggunakan animasi "animate" selama 1 detik dengan efek ease-in-out, dimulai setelah 1 detik, dan berjalan sekali dengan hasil akhir yang diterapkan */
    color: #ffffff; /* Mengatur warna teks */
    padding-left: 20px; /* Memberikan padding kiri sebesar 20px */
    margin-top: 10px;
}

.content .des {
    margin-top: 10px; /* Memberikan margin atas sebesar 10px */
    margin-bottom: 20px; /* Memberikan margin bawah sebesar 20px */
    opacity: 0; /* Menetapkan opacity menjadi 0 (tidak terlihat) */
    animation: animate 1s ease-in-out 0.3s 1 forwards; /* Menjalankan animasi bernama 'animate' selama 1 detik dengan efek ease-in-out, dimulai setelah 0.3 detik, dan hanya sekali (1) dengan status akhir (forwards) */
    color: #ffffff; /* Mengatur warna teks menjadi putih */
    padding-left: 20px; /* Memberikan padding kiri sebesar 20px */
    padding-right: 20px; /* Memberikan padding kanan sebesar 20px */
    text-align: justify;  /* Mengatur penataan teks ke justified */
}

.des span {
    color: #fffb00; /* Mengatur warna teks pada elemen span menjadi kuning (#fffb00) */
    font-family: cursive; /* Mengatur jenis font menjadi cursive untuk elemen span */
}

.content button {
    padding: 10px 20px; /* Memberikan padding atas dan bawah sebesar 10px serta jarum sebesar 20px */
    border: none;  /* Melakukan penyetaan dari border pada button */
    cursor: pointer;  /* memberi tanda panah ke kanan pada mouse ketika diklik */
    opacity: 0;  /* Menetapkan opacity menjadi  0 agar tidak terlihat saat awal */
    animation: animate 1s ease-in-out 0.6s 1 forwards;  /* Menggunakan animasi "animate" selama 1 detik dengan efek ease-in-out, dimulai setelah 0.6 detik, dan berjalan sekali dengan hasil akhir yang diterapkan */
    margin-bottom: 10px;  /* Memberikan margin bawah sebesar 10px */
    margin-left: 20px;   /* Memberikan margin kiri sebesar 20px */
    border-radius: 5px;   /* Memberikan radius pada sisi sudut pada button dengan ukuran  5px */
    background-color: #fff; /* Warna latar belakang default */
    color: #000; /* Warna teks default */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi untuk perubahan warna */
}

/* Efek hover */
.content button:hover {
    background-color: #000; /* Ubah warna latar belakang saat dihover */
    color: #fff; /* Ubah warna teks saat dihover */
}

@keyframes animate {
    from {
        opacity: 0; /* Mulai dengan opacity 0 (tidak terlihat) */
        transform: translate(0, 100px); /* Memindahkan elemen ke bawah sejauh 100px */
        filter: blur(33px); /* Memberikan efek blur dengan radius 33px */
    }

    to {
        opacity: 1; /* Berakhir dengan opacity 1 (terlihat) */
        transform: translate(0); /* Kembali ke posisi transfrom awal */
        filter: blur(0); /* Menghilangkan efek blur */
    }
}

.button {
    width: 100%; /* Menetapkan lebar elemen dengan kelas .button menjadi 100% */
    text-align: center; /* Mengatur teks agar rata tengah */
    position: absolute; /* Menjadikan elemen posisi absolut */
    bottom: 20px; /* Menetapkan jarak 20px dari bawah viewport */
}

.button button{
    width: 40px; /* Menetapkan lebar tombol */
    height: 35px; /* Menetapkan tinggi tombol */
    border-radius: 8px; /* Memberikan radius sudut 8px pada tombol */
    border: none; /* Menghapus border dari tombol */
    cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
    margin: 0 5px; /* Memberikan margin sebesar 0 di atas dan bawah, 5px di kiri dan kanan */
    border: 1px solid #000; /* Memberikan border 1px solid dengan warna hitam */
    transition: 0.3s; /* Menambahkan efek transisi selama 0.3 detik */
}

.button button:hover{
    background: #ababab; /* Mengubah warna latar belakang saat tombol dihover */
    color: #fff; /* Mengubah warna teks saat tombol dihover */
}

h1{
    margin-right: 50px; /* Memberikan margin sebelah kanan sebesar 50px pada elemen h1 */
    font-size: 40px; /* Menetapkan ukuran font menjadi 40px */
}


h1 span{
  font-family: 'Lucida Handwriting', cursive; /*mengatur jenis font*/
  color: #0056b3; /*warna teks*/
}

body, html {
    height: 100%; /* Mengatur tinggi elemen body dan html menjadi 100% dari tinggi viewport */
    margin: 0; /* Menghilangkan margin default dari body dan html */
    display: flex; /* Mengatur tampilan elemen body dan html menjadi flex container */
    justify-content: center; /* Menyusun konten secara horizontal di tengah container */
    align-items: center; /* Menyusun konten secara vertikal di tengah container */
}

.login-form {
    text-align: center; /* Mengatur teks dalam login form menjadi rata tengah */
    width: 300px; /* Menetapkan lebar login form */
    padding: 20px; /* Memberikan padding sebesar 20px di sekitar konten login form */
    border: 1px solid #ccc; /* Menetapkan border login form dengan lebar 1px dan warna #ccc */
    background-color: rgba(0, 0, 0, 0.314); /* Memberikan warna latar belakang login form dengan opasitas 0.314 */
    border-radius: 10px; /* Mengatur sudut login form menjadi sedikit melengkung */
}

.login-form h2{
    margin-bottom: 30px; /* Memberikan margin bawah sebesar 30px pada elemen h2 di dalam login form */
}

.input-group {
    margin-bottom: 20px; /* Memberikan margin bawah sebesar 20px pada setiap elemen dengan kelas .input-group */
}


.input-group label {
        display: block; /* Menjadikan label sebagai blok elemen */
        margin-bottom: 5px; /* Margin bawah sebesar 5 piksel */
        margin-right: 190px; /* Margin kanan sebesar 190 piksel */
}

.input-group input {
    width: 100%; /* Mengatur lebar input menjadi 100% dari lebar parent */
    padding: 10px; /* Memberikan padding sebesar 10 piksel di sekitar isi input */
    border: 1px solid #ccc; /* Mengatur garis tepi dengan lebar 1 piksel dan warna #ccc */
    border-radius: 5px; /* Mengatur sudut border menjadi sedikit melengkung */
}

.login-btn {
    padding: 10px 20px; /* Memberikan padding 10 piksel atas/bawah dan 20 piksel kiri/kanan pada tombol login */
    border: none; /* Menghapus border tombol */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat mengarahkan ke tombol */
    font-weight: bold; /* Mengatur ketebalan font menjadi tebal */
    letter-spacing: 1px; /* Memberikan spasi antara huruf sebesar 1 piksel */
    background-color: #007bff; /* Memberikan warna latar belakang tombol */
    color: #fff; /* Memberikan warna teks putih pada tombol */
    border-radius: 5px; /* Mengatur sudut tombol menjadi sedikit melengkung */
    transition: background-color 0.3s; /* Menambahkan efek transisi saat perubahan warna latar belakang tombol */
}

.login-btn:hover {
    background-color: #0056b3; /* Mengubah warna latar belakang tombol saat dihover */
}

/* Style untuk tautan login */
.login-btn {
    display: inline-block; /* Membuat tautan menjadi elemen blok */
    padding: 10px 20px; /* Padding untuk menentukan ukuran tombol */
    text-decoration: none; /* Menghapus dekorasi tautan */
    background-color: #007bff; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    border-radius: 5px; /* Membuat sudut tombol menjadi sedikit melengkung */
    transition: background-color 0.3s; /* Efek transisi untuk perubahan warna latar belakang saat dihover */
}

/* Efek hover pada tombol */
.login-btn:hover {
    background-color: #0056b3; /* Ubah warna latar belakang saat dihover */
}

.marquee-container {
    position: fixed; /* Menetapkan posisi elemen relatif terhadap viewport */
    bottom: 0; /* Menempatkan elemen di bagian bawah viewport */
    width: 100%; /* Menentukan lebar elemen menjadi 100% dari lebar viewport */
    background-color: #f0f0f0; /* Memberi warna latar belakang pada elemen */
    overflow: hidden; /* Mengatur perilaku overflow ketika konten melebihi ukuran elemen */
}

.marquee {
    display: block; /* Mengatur tampilan elemen sebagai blok */
    white-space: nowrap; /* Mencegah teks untuk wrap (pindah ke baris berikutnya) */
    animation: marquee-scroll 10s linear infinite; /* Mengaitkan animasi marquee-scroll */
}

@keyframes marquee-scroll {
    0% { transform: translateX(100%); } /* Posisi awal elemen berada di luar jendela, di sebelah kanan */
    100% { transform: translateX(-100%); } /* Posisi akhir elemen berada di luar jendela, di sebelah kiri */
}
